<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanity + Silex + Twig = 💖</title>
    <link rel="stylesheet" href="{{ absolute_url('/static/main.css') }}">
  </head>

  <body>
    <nav>
        <a href="{{ path('movies') }}">Movies</a>
        <a href="{{ path('people') }}">People</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        Sanity + Silex + Twig = 💖
    </footer>
  </body>
</html>
