{% extends 'layout.twig' %}

{% block content %}
    <ul class="list">
    {% for person in people %}
        <li class="list__item">
            <a href="{{ path('person', {id: person._id}) }}">
                {% if person.imageUrl is defined %}
                    <img src="{{ person.imageUrl }}?w=240" />
                {% endif %}

                <h3>{{ person.name }}</h3>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
